html {
  font-family: Overpass, sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: #fff;
}

.main {
  background-image: linear-gradient(to bottom, #ff9500, #ff5e3a);
}

.btn {
  color: #fff;
  border: rgba(255, 255, 255, .7) solid 3px;
}

.btn:hover {
  background-color: #fff;
  border-color: #fff;
  color: #ff9500;
}

.container {
  border-bottom: rgba(255, 255, 255, .3) solid 3px;
}

@media only screen and (min-width: 60em) {

  .container {
    border-bottom: none;
    border-right: rgba(255, 255, 255, .3) solid 3px;
  }

  .list-group-item:last-child .container {
    border-right: none;
  }

}
